/* ================================== */
/* == CSS VARIABLES                  == */
/* ================================== */

:root {
    --primary-color: #4CAF50;
    --secondary-color: #3B82F6;
    --yellow-color: #FDBA2B;
    --blue-dark: #3B82F6;
    --blue-light: #EFF6FF;
    --text-dark: #433D3E;
    --text-light: #878C92;
    --bg-light: #F9F9F9;
    --bg-main: #F5F7F6;
    --white: #FFFFFF;
    --border-color: #E0E0E0;
    --shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
}

