/* ================================== */
/* == MAIN CSS FILE                  == */
/* == Import semua file CSS terpisah == */
/* ================================== */

/* Variables & Reset */
@import './css/variables.css';
@import './css/reset.css';

/* Layout */
@import './css/layout/sidebar.css';
@import './css/layout/header.css';
@import './css/layout/main-content.css';

/* Components */
@import './css/components/buttons.css';
@import './css/components/cards.css';
@import './css/components/search-bar.css';
@import './css/components/forms.css';
@import './css/components/modal.css';
@import './css/components/notification.css';

/* Pages */
@import './css/pages/adopsi.css';
@import './css/pages/donasi.css';
@import './css/pages/peringkat.css';
@import './css/pages/rawat.css';
@import './css/pages/payment.css';
@import './css/pages/shelter.css';
@import './css/pages/lapor.css';

/* Dark Mode */
@import './css/dark-mode.css';
